{% extends 'layout.html' %}
{% block content %}
<div class="container pt-5">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom">{{ legend }}</legend>
        </fieldset>

        <div class="form-group w-50">
          {{ form.title.label(class="form-control-label") }}
          {% if form.title.errors %}
            {{ form.title(class="form-control form-control-sm col-sm is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.title.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.title(class="form-control form-control-sm col-sm") }}
          {% endif %}  
        </div>

        <div class="form-group w-60 shadow-textarea">
          {{ form.content.label(class="form-control-label") }}
          {% if form.content.errors %}
            {{ form.content(class="form-control form-control-sm col-sm is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.content.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.content(class="form-control form-control-sm col-sm",placeholder="Write your new post ..",rows="5") }}  
          {% endif %}
        </div>
          <div class="form-group">
            {{ form.category_name.label(class="form-control-label")}}
            {{ form.category_name(class="form-control") }}
          </div>

        <div class="form-group mt-2">
          {{ form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
</div>
{% endblock content %}