{% extends 'layout.html' %}
	{% block content %}
  <div class="container pt-5">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom">Reset Password</legend>
        </fieldset>
        <div class="form-group w-50">
          {{ form.email.label(class="form-control-label") }}
          {% if form.email.errors %}
            {{ form.email(class="form-control form-control-sm col-sm is-invalid",placeholder="@vxlsoftware.com") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email(class="form-control form-control-sm col-sm",placeholder="@vxlsoftware.com") }}
          {% endif %}  
        </div>

        <div class="form-group mt-2">
          {{ form.submit(class="btn btn-outline-info")}}
        </div>  
    </form>
  </div>
	{% endblock content %}	
